/**
 * BEM
 *
 * > Block: *functionally independent* page component
 * > Element: a constituent part of a block that can't be used outside of it
 * > Modifier: defines the appearance and behavior of a block or an element
 *
 * block-name__element-name_modifier-name_modifier-value
 *
 * menu__item_active
 * menu__item_theme_morning-forest
 * menu__item_type_radio
 * menu_active
 */

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Helvetica Neue", "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  font-size: 14px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  background-color: transparent;
  color: #696969;
  padding: 0;
  margin: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
  transition: all 0.25s linear;
  outline: none;
}

input {
  border: 1px solid red;
  outline: none;
  width: 100%;
  padding: 0.4em 0.2em;
  overflow-x: scroll;
  font-size: 1.2em;
  border-radius: 0;
  border: none;
  margin: 0;
  margin-bottom: 0.8em;
  border-bottom: 1px solid #D0D0D0;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.xanadu-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__body {
    flex: 1 1 auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

// As we can't tap into Link's `activeClassName`
// we'll be using a combination of styled-components and BEM
.menu {
  &_active {
    color: #1da1f2 !important;
    background-color: #f0f0f0;
  }
}
